* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input-container {
  display: inline-flex;
  flex-direction: column;
}

.inputs-container {
  display: flex;
  justify-content: flex-start;
  margin: 50px 0;
  column-gap: 70px;
}

.input {
  border: 1px solid #828282;
  border-radius: 8px;
  font-family: 'Noto Sans', sans-serif;
  display: inline-flex;
  /* padding: 18px 12px; */
  align-items: center;
}

.input-field {
  width: 200px;
  font-size: 14px;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  background-color: transparent;
}

.input-field-md {
  height: 56px;
  padding-left: 12px;
}

.input-field-sm {
  height: 40px;
  padding-left: 12px;
}

.input::placeholder {
  color: #828282
}

.input.input:hover {
  border: 1px solid #333333;
}

.input:focus-within {
  border: 1px solid #2962FF;
}

.input-error {
  border: 1px solid #D32F2F;
}

.input-error.input:focus-within {
  border: 1px solid #D32F2F;
}

.input-error.input:hover {
  border: 1px solid #333333;
}

.input:disabled {
  border: none;
}

.input.input-disabled {
  background-color: #F2F2F2;
  border: 1px solid #E0E0E0;
}

.input.input-disabled:hover {
  border: 1px solid #E0E0E0;
}

.fullWidth {
  width: 100%;
}

.input-multiline {
  height: auto;
  border: 1px solid #828282;
  border-radius: 8px;
  font-family: 'Noto Sans', sans-serif;
  display: inline-flex;
  /* padding: 18px 12px; */
  align-items: center;
}

.input-multiline.input-multiline:hover {
  border: 1px solid #333333;
}

.input-multiline:focus-within {
  border: 1px solid #2962FF;
}

.input-multiline-error {
  border: 1px solid #D32F2F;
}

.input-multiline-error.input-multiline:focus-within {
  border: 1px solid #D32F2F;
}

.input-field-multiline {
  width: 200px;
  font-size: 14px;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  background-color: transparent;
}

.label {
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 0.25rem;
}

.label-error {
  color: #D32F2F;
}

.helper-text {
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
  color:#828282;
  padding-top: 4px;
}

.helper-text-error {
  color: #D32F2F;
}

.input-field-icon-left,  .input-field-icon-right{
  width: calc(200px - 38px);
}

.input-icon-left::before {
  content: attr(data-icon);
  font-family: 'Material Icons';
  font-size: 24px;
  margin-left: 12px;
  color: #828282;
}

.input-icon-right::after {
  content: attr(data-icon);
  font-family: 'Material Icons';
  font-size: 24px;
  margin-right: 12px;
  color: #828282;
}