.menu {
    background-color: #FAFBFD;
    padding-top: 40px;
    padding-left: 40px;
}

.menu-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}

.menu-list {
    list-style: none;
    padding-top: 79px;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    color: #9E9E9E;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.menu-list-item-active {
    font-weight: 700;
    color: #090F31;
}

.menu-title-orange {
    color: #F7542E;
}